<h2>Animal added</h2>
<hr>
<hr>

<p>The animal has been added. ID number <%=@animal.id%></p>

<p><a href= "http://localhost:4567/studycheck/assign/new">If animal is healthy, please assign this animal to a study</a>

<hr>