<h2>Animal added</h2>
<hr>
<hr>

<p>The animal has been added. ID number <%=@animal.id%></p>


<p>If animal is healthy, please assign this animal to a study.</p>

    <form action="http://localhost:4567/studycheck/assign/new" method="get">
    <input type="submit" class="buttons" value="Assign">
    </form>



<hr>