<!DOCTYPE html>
<html>
<head>
  <title>Studycheck</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
<p>
</p>
<p>
</p>
  <nav>

    <ul>
      <ul>
        <a href="/studycheck/animals">Animals for Studies</a>
      </ul>
      <ul>
        <a href="/studycheck/animals/ill">Animal "Hospital"</a>
      </ul>
      <ul>
        <a href="/studycheck/animals/new">Add animal</a>
      </ul>

      <ul>
        <a href="/studycheck/studies">Studies</a>
      </ul>
      <ul>
        <a href="/studycheck/studies/new">Create new study</a>
      </ul>

      <ul>
        <a href="/studycheck/assign">Assignment</a>
      </ul>
      <ul>
        <a href="/studycheck/assign/new">Assign animal</a>
      </ul>
    </ul>

  </nav>

<section id="content">
<%= yield %>
</section>
</main>
</body>
</html>