<!DOCTYPE html>
<html>
<head>
  <title>Studycheck</title>
  <link rel="stylesheet" href="/style.css">
</head>

<body>
<h1><p>Studycheck</p></h1>
<p>
</p>
<p>
</p>
  <nav>

    <ul>

      <ul>
        <a href="/studycheck">Home</a>
      </ul>
      <ul>
        <a href="/studycheck/animals">Animals for Studies</a>
      </ul>
      <ul>
        <a href="/studycheck/animals/ill">Animal "Hospital"</a>
      </ul>
      <ul>
        <a href="/studycheck/animals/new">Add Animal</a>
      </ul>

      <ul>
        <a href="/studycheck/studies">Studies</a>
      </ul>
      <ul>
        <a href="/studycheck/studies/new">Create New Study</a>
      </ul>

      <ul>
        <a href="/studycheck/assign">Assignments</a>
      </ul>
<!--       <ul>
        <a href="/studycheck/assign/new">Assign Animal</a>
      </ul> -->
    </ul>

  </nav>

<section id="content">
<%= yield %>
</section>
</main>
</body>
</html>