html {
  font-family: arial; 
  line-height: 1.2; 
  -ms-text-size-adjust: 100%; 
  -webkit-text-size-adjust: 100%; 
}

body {
  background-image: url("/images/mouse.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: rgb(0, 96, 128);
  margin: 0;
}

ul ul{
  list-style-type: none;
  margin: 0;
  padding: 1;
  display: inline;


}
h1 p {
  text-align: right;
}

table {
  background: ivory;
  box-sizing: content-box;
  width: 600px;
  height: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 10px;
  font: normal 16px/1 Arial;
  color: black);
  text-align: center;

}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

pre {
  font-family: monospace, monospace; 
  font-size: 1em;
}

a {
  background-color: transparent;
  color: brown; 
  -webkit-text-decoration-skip: objects;
}

tr th {
  text-align: center;
}

td, th {
  text-align: center;
}

td {
  padding: 10px 10px 0px 0px;
}

th, {
  padding: 0px 18px 10px 0px;
  border-bottom: 1px solid papayawhip;
}
form,
  {
  background-color: ivory;
  border-collapse: collapse;
}



a:hover {
  color: red;
  outline-width: 0;
}

.side {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 450px;
  height: 100%;
  padding: 20px 150px 0 14px;
  border: none;
  font: normal 16px/1 "Arial";
  color: black;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  background-color: ivory;
}

.buttons {
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  cursor: pointer;
  padding: 10px 20px;
  border: 1px solid #018dc4;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font: normal 16px/normal "arial";
  color: rgba(255,255,255,0.9);
  -o-text-overflow: clip;

  text-overflow: clip;
  background: #0199d9;
  -webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) ;
  box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) ;
  text-shadow: -1px -1px 0 rgba(15,73,168,0.66) ;
  -webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
}

.buttons:hover {
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  cursor: pointer;
  padding: 10px 20px;
  border: 1px solid blue;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font: normal 16px/normal "arial";
  color: ivory;
  -o-text-overflow: clip;
  
  text-overflow: clip;
  background: #0190d9;
  -webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) ;
  box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) ;
  text-shadow: -1px -1px 0 rgba(15,73,168,0.66) ;
  -webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
}
small {
  font-size: 70%;
}
button,
input,
optgroup,
select,
textarea {
  font-family: arial;
  font-size: 90%;
  line-height: 1.5;
 
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; 
  padding: 0; 
}
summary {
  display: list-item;
}

