<h1>Studies</h1>

<table>
  <tr>
    <th>Study ID</th>
    <th></th>
    <th>Study Director</th>
    <th></th>
    <th>Purpose of study</th>
    <th></th>
    <th>EDIT</th>
  </tr>

  <% for study in @studies %>

  <tr>
    <td><%= study.id %></td>
    <td>|</td>
    <td><%= study.sd %></td>
    <td>|</td>
    <td><%= study.purpose %></td>
    <td>|</td>
    <td><form action="/studycheck/studies/<%= study.id %>" method="get">
    <input type="submit" class="buttons" value="Check/Alter">
    </form></td>


  </tr>

  <% end %>
</table>