<h2>Add study</h2>
<hr>
<hr>

<form action="/studycheck/studies" method="post">
  <label> 
    Study Director:
    <input type="text" name="sd" value="">
  </label>
  <label> 
    Purpose of Study:
    <input type="text" name="purpose" value="">
  </label>
  <input type="submit" value="Add study"/>
</form>

<hr>