<h2>Add study</h2>
<hr>
<hr>
<div class="side">
<form action="/studycheck/studies" method="post">
  <label> 
    Study Director:
    <input type="text" name="sd" value="">
  </label>
  <p>
  <label> 
    Purpose of Study:
    <input type="text" name="purpose" value="">
  </label>
  </p>



    <input type="submit" class="buttons" value="Add Study"/>
</form>
</div>
<hr>