<link rel="stylesheet" href="/style.css">


<h2>Study Details</h2>

<p>Study Director: <%= @study.sd() %></p>
<p>Purpose of Study: <%= @study.purpose() %></p>
</form>


<form action="/studycheck/studies/<%= @study.id %>/edit" method="get">
  <input type="submit" class="buttons" value="Update"/>
</form>

<form action="/studycheck/animals/<%= @study.id %>/delete" method="post">
  <input type="submit" class="buttons" value="Delete"/>
</form>


