<h1>Assignment of Animals to Studies</h1>



<ul>
  <% for assignment in @assignments %>
  <li>
  <p>Animal id number <%= assignment.animal_id %> is assigned to <%= assignment.study.purpose %> <a href="/studycheck/assign/<%= assignment.id %>">ALTER ASSIGNMENT</a> </p>

  </li>
  <% end %>
</ul>