<h1>Assignment of Animals to Studies</h1>
<p>
</p>
<p>
</p>
</h1>
<hr>
<p>
<hr>
<p>
</p>
<div class="side">
  <table>

    <tr>
      <% for assignment in @assignments %>


      <th><%= assignment.study.purpose.capitalize %> has the following animal assigned to it: ID <%=assignment.animal_id %> </th>

      <th><form action="/studycheck/assign/<%= assignment.id %>"" method="get">
      <input type="submit" class="buttons" value="Alter"/>
    </form></th>

    </tr>

    <% end %>

</table>

  </div>
  <form action="http://localhost:4567/studycheck/assign/new" method="get">
  <input type="submit" class="buttons" value="                                 Assign unassigned new animal to study                                 ">
  </form>
