<link rel="stylesheet" href="/style.css">

<h2>Assignment Details</h2>

<div><p>Study <%= @assignment.study_id %> has the following animal assigned to it: <%= @assignment.animal_id %>

<form action="/studycheck/assign/<%= @assignment.id %>/edit" method="get">
<input type="submit" class="buttons" value="Update">

</form>


  <form action="/studycheck/assign/<%= @assignment.id %>/delete" method="post">

  <input type="submit" class="buttons" value="Delete"/>

</form>
</p>
</div>

