<link rel="stylesheet" href="/style.css">

<h2>Assignment Details</h2>

<div><p><%= @assignment.study_id %> has the following animals assigned to it: <%= @assignment.animal_id %>

<a href="/studycheck/assign/<%= @assignment.id %>/edit">UPDATE ASSIGNMENT</a>

<form action="/studycheck/assign/<%= @assignment.id %>/delete" method="post">

  <input type="submit" value="Delete"/>
</form>
</p>
</div>
